{% extends "todos/index.html" %}
{% block body %}
    <h2 class="list">List of Completed Todos</h2>
    <div class="todos">
        <table class="to-do-items">
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Due on</th>
                <th>Owner</th>
                <th>Mark</th>
            </tr>
            {% for todo in todos %}
                <tr>
                    <td id="taskName">{{ todo.title }} </td>
                    <td>{{ todo.created }}</td>
                    <td>{{ todo.due_on }}</td>
                    <td>{{ todo.owner }}</td>
                    <td id="taskStatus">{% if todo.done %} Done
                    {% else %}
                        Undone
                    {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}